<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <title>GameFlix - Update User Account</title>

        <!-- CDN Links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="container">

            <h1>User Account Management System</h1>
            <hr>
            <h2>Update User</h2>
            <br/></br>

            <!--    th:action="@{/student/addCourseStudent/}+${student.studentId}+@{/course}"-->

            <form action="#" th:action="@{/users/saveUser}" th:object="${user}" method="POST">

                <!-- Add hidden form field to handle update -->
                <input type="hidden" th:field="*{userID}" />

                <input type="text" th:field="*{emailAddress}" placeholder="Email Address" class="form-control mb-4 col-4" required>
                <input type="hidden" th:field="*{username}" />
                <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{gender}" placeholder="Gender" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{dateOfBirth}" placeholder="Date of Birth" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{guardianFirstName}" placeholder="Guardian's First Name" class="form-control mb-4 col-4">
                <input type="text" th:field="*{guardianLastName}" placeholder="Guardian's Last Name" class="form-control mb-4 col-4">
                <input type="text" th:field="*{guardianEmailAddress}" placeholder="Guardian's Email Address" class="form-control mb-4 col-4">
                <input type="text" th:field="*{postalCode}" placeholder="Postal Code" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{paymentMethod}" placeholder="Payment Method" class="form-control mb-4 col-4" required>
                <input type="text" th:field="*{accountRestrictions}" placeholder="Account Restriction(s) - separated with commas" class="form-control mb-4 col-4">

                <div class="col-lg-3" >
                    <select class="form-control"  id="Select Game" th:field="*{games}" multiple="multiple">
                        <option th:each="game : ${allGames}"
                            th:value="${game.gameID}"
                            th:text="${game.title} "></option>
                    </select>
                </div>

                <div align="right"><button type="submit" class="btn btn-primary btn-md mb-3"> Update User</button></div>
            </form>

    <hr>

    <a th:href ="@{/users/user_list}" class="btn btn-primary btn-md mb-3"> < Back to User Database</a>
</div>
</body>
</html>